@import "buttons";
@import "headers";
@import "defaultBackGrounds";

//fonts 
html{
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.45;
    color: #2e3548;
    background-color: #fff;
}



a{
    color: $font-color-gePant;
    text-decoration: none;  
    cursor:pointer;
}

a:hover, a:focus {
    color: $font-color-hover;
    text-decoration: underline;
}


.mtop1{
    margin-top:1em; 
}
.mbot1{
    margin-bottom:1em;    
}
.mtophalf{
    margin-top:0.5em; 
}
.mbothalf{
    margin-bottom:0.5em;    
}

.mtop2 {
    margin-top: 2em;
}
.mbot2{
    margin-bottom:2em;    
}


.text-size-150{
    font-size: 150%;
    line-height: 1.45em;
}

.text-size-125{
    font-size: 125%;
    line-height: 1.45em;   
}

.fullwidth {
    width: 100%;
}

hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #eee;
    border-color: rgba(0,0,0,0.075);
}

img {
    width: 100%;
    height: auto;
}

.container{
    width: auto;
    max-width: 1200px;  
}

.alert {
    padding: 15px;
    margin-bottom: 23px;
    border-radius: 0;
}

.dropdown-menu {
    box-shadow: none;
    padding: 0;
    border: 5px solid rgba(0,0,0,0.05)
}

.dropdown-menu.user{
    min-width: 180px;
}

.navbar-right .dropdown-menu {
    left: 0
}

.dropdown-menu>li>a {
    padding-top: 6px;
    padding-bottom: 6px
}


.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #2DAAE1;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.searchResult.container{
    padding:0px;
}

.searchResult{
    .input-lg{
        height: 69px;
        padding: 20px 40px;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 0;
    }    

    h2 {
        text-align: center
    }

    .box {
        max-width: 500px;
        margin: 0 auto
    }

    .box .control {
        position: relative
    }

    .box .loading {
        display: inline-block;
        width: 5%;
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -10px
    }

    .box input {
        width: 90%;
        margin: 0 auto
    }

    #start-map {
        height: 0;
        padding-top: 50%;
        background: #19d156
    }
    ul{
        max-width: 261px;    
        a{
            white-space: pre-line;
        }
        .active >a {
            background:rgb(25, 209, 86);
        }
    }
    
}