.ProfilePage article header {
    position: relative
}

.ProfilePage article header .cover {
    height: 0;
    padding-bottom: 40%;
    position: relative
}

.ProfilePage article header .cover .logo {
    position: absolute;
    bottom: -32.5%;
    left: 5%;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 50%;
    background: #fff;
    box-shadow: -2px 3px 0 rgba(0,0,0,0.1)
}

.ProfilePage article header .cover .logo .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: 5px
}

.ProfilePage article header h1 {
    padding: 2.5% 2.5% 2.5% 32.5%;
    overflow: hidden;
    font-size: 2.2em;
    line-height: 1;
}

.ProfilePage aside .sharing .btn {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px
}

ul.stat-list,ul.stat-list li,ol.stat-list,ol.stat-list li {
    list-style: none;
    padding: 0;
    margin: 0
}

ul.stat-list li,ol.stat-list li {
    text-align: center
}

ul.stat-list li .stat-label,ol.stat-list li .stat-label {
    display: block
}

ul.stat-list li .stat-value,ol.stat-list li .stat-value {
    display: block;
    font-size: 300%;
    line-height: 1;
    font-weight: bold
}

.ProfilePage .avatar{
    background : url(../images/avtar.jpg);
    background-repeat:no-repeat;
    background-size: auto 100%;
}

.bootstrap-switch-handle-off.bootstrap-switch-donator{
    color: white;
    background: #D3D3D3;   
}
.bootstrap-switch-handle-on.bootstrap-switch-donator{
    background:#ffd100;
    color:white;
}