//Chnages for the site starts from here 
//Variables for the scss file 
$font-color-gePant:               #19d156;
$font-color-hover:                #118d3a;
$font-color-wideScreen:           #2e3548;