<!-- TODO set the min height for the text of number of * bags --> 
<form name="form" step-data="stepData['what']" ng-submit="nextStep(true)" novalidate>
    <fieldset>
        <div class="bags row text-center mbot2">
            <div class="bag bag-sm col-xs-4" ng-class="{'has-value':donation.bagsSmall>0}">
                <div class="icon svg" round ng-click="currStep.addBag('small')"><img src="images/bag-small.svg" alt="Lägg till en plastkasse" /></div>
                <p>{{ 'html.numPlasticBag' | translate }}</p>
                <div class="img"></div>
                <div counter value="donation.bagsSmall" min="0" max="99" input-class="form-control" minus-text="" plus-text="" minus-class="fa fa-minus-square fa-lg fa-fw" plus-class="fa fa-plus-square fa-lg fa-fw"></div>
            </div>
            <div class="bag bag-m col-xs-4" ng-class="{'has-value':donation.bagsMedium>0}">
                <div class="icon svg" round ng-click="currStep.addBag('medium')"><img src="images/bag-medium.svg" alt="Lägg till en pappkasse" /></div>
                <p>{{ 'html.numPaperBag' | translate }}</p>
                <div class="img"></div>
                <div counter value="donation.bagsMedium" min="0" max="99" input-class="form-control" minus-text="" plus-text="" minus-class="fa fa-minus-square fa-lg fa-fw" plus-class="fa fa-plus-square fa-lg fa-fw"></div>
            </div>
            <div class="bag bag-lg col-xs-4" ng-class="{'has-value':donation.bagsLarge>0}">
                <div class="icon svg" round ng-click="currStep.addBag('large')"><img src="images/bag-large.svg" alt="Lägg till en sopsäck" /></div>
                <p>{{ 'html.numRefuceSac' | translate }}</p>                
                <div class="img"></div>
                <div counter value="donation.bagsLarge" min="0" max="99" input-class="form-control" minus-text="" plus-text="" minus-class="fa fa-minus-square fa-lg fa-fw" plus-class="fa fa-plus-square fa-lg fa-fw"></div>
            </div>
        </div>
        <p class="alert alert-danger pop" ng-show="currStep.validated && !currStep.validate()">
            {{ 'message.enterBag' | translate }}
        </p>
        <div class="buttons">
            <button class="btn btn-info btn-sm">
                {{ 'button.nextStep' | translate }}
                <i class="fa fa-arrow-down"></i>
            </button>
        </div>
    </fieldset>
</form>
