<ul class="nav nav-tabs" ng-show="!user.userLogedIn">
    <li ng-class="{active:currStep.tab!='login'}"  class="hidden-xs">
        <a href="javascript:;" ng-click="currStep.tab='anonymous';currStep.validated=false;">
            {{ 'header.contactInfo' | translate }} 
        </a>
    </li>
    <li ng-class="{active:currStep.tab!='login'}" class='visible-xs-block smallContact'>
        <a href="javascript:;" ng-click="currStep.tab='anonymous';currStep.validated=false;">
            {{ 'header.contactInfo2' | translate }} 
        </a>
    </li>
    <li ng-class="{active:currStep.tab=='login'}">
        <a href="javascript:;" ng-click="currStep.tab='login';currStep.validated=false;">
            {{ 'header.login' | translate }} 
        </a>
    </li>
</ul>
<div ng-show="user.userLogedIn">
    <form name="form" step-data="stepData['who']" ng-submit="nextStep(true)" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <input type="text" disabled="true" ng-model="donation.contactName" required name="name" class="form-control" placeholder="{{ 'placeholder.name' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.name.$dirty || currStep.validated) && form.name.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.enterName' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.name.$valid"></i>
            </div>
            <div class="form-group">
                <input type="email" disabled="true" ng-model="donation.contactEmail" required name="email" class="form-control" placeholder="{{ 'placeholder.email' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.email.$dirty || currStep.validated) && form.email.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.validEmail' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.email.$valid"></i>
            </div>
            <div class="form-group">
                <input type="number"  min="0" ng-minlength="10" ng-maxlength="15" required ng-model="donation.contactTelephone"  name="tel" class="form-control" placeholder="{{ 'placeholder.telephone' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.tel.$dirty || currStep.validated) && form.tel.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.enterPhone' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.tel.$valid"></i>
            </div>
            <div class="alert alert-danger pop" ng-show="currStep.validated && form.$invalid">
                <span class="nobr"><i class="fa fa-lg fa-fw fa-exclamation-circle"></i>{{ 'message.correctInfo' | translate }}</span>
                {{ 'message.mouseOver' | translate }}
            </div>
            <div class="buttons">
                <button class="btn btn-info btn-sm">
                    {{ 'button.nextStep' | translate }}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </button>
            </div>
        </fieldset>
    </form>
</div>
<div ng-switch="currStep.tab" ng-show="!user.userLogedIn" ng-controller="LogindonationCtrl">
    <form ng-switch-default name="form" step-data="stepData['who']" ng-submit="nextStep(true)" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <input type="text" ng-model="donation.contactName" required name="name" class="form-control" placeholder="{{ 'placeholder.name' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.name.$dirty || currStep.validated) && form.name.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.enterName' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.name.$valid"></i>
            </div>
            <div class="form-group">
                <input type="email" ng-model="donation.contactEmail" required name="email" class="form-control" placeholder="{{ 'placeholder.email' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.email.$dirty || currStep.validated) && form.email.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.validEmail' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.email.$valid"></i>
            </div>
            <div class="form-group">
                <input type="number"  min="0" ng-minlength="10" ng-maxlength="15" ng-model="donation.contactTelephone" required name="tel" class="form-control" placeholder="{{ 'placeholder.telephone' | translate }}">
                <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.tel.$dirty || currStep.validated) && form.tel.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="{{ 'message.enterPhone' | translate }}"></i>
                <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.tel.$valid"></i>
            </div>
            <div class="alert alert-danger pop" ng-show="currStep.validated && form.$invalid">
                <span class="nobr"><i class="fa fa-lg fa-fw fa-exclamation-circle"></i>{{ 'message.correctInfo' | translate }}</span>
                {{ 'message.mouseOver' | translate }}
            </div>
            <div class="buttons">
                <button class="btn btn-info btn-sm">
                    {{ 'button.nextStep' | translate }}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </button>
            </div>
        </fieldset>
    </form>
    <form ng-switch-when="login" name="form" id="loginForm" ng-submit="tryLogin()" novalidate autocomplete="off">
        <div ng-switch="status">
            <div ng-switch-when="trying" class="alert alert-info">
               {{ 'message.trylogin' | translate }}<i class="fa fa-refresh loadicon"></i>
            </div>
            <div ng-switch-when="success" class="alert alert-success">
                {{ 'message.loginSuccess' | translate }}</div>
            <div ng-switch-when="error" class="alert alert-danger">
                {{ 'message.loginFailure' | translate }}
            </div>
            <div ng-switch-when="collectorError" class="alert alert-danger">
                {{ 'message.collectorError1' | translate }}
            </div>
            <div ng-switch-default class="alert alert-danger pop" ng-show="currStep.validated && !currStep.validate()">{{ 'message.provideLogin' | translate }}</div>
        </div>
        <a href="javascript:;" class="btn btn-fb fullwidth" ng-click="tryFbLogin()"><i class="fa fa-lg fa-fw fa-facebook"></i> 
            {{ 'button.fbLogin' | translate }}
        </a>
        <hr>
        <h3 class="splitter mtop2">
            {{ 'html.loginEmail' | translate }}
        </h3>
        <div class="form-group">
            <input type="text" ng-model="u.email" name="email" class="form-control" id="lEmail" placeholder="{{ 'placeholder.email' | translate }}">
        </div>
        <div class="form-group">
            <input type="password" ng-model="u.password" name="password" class="form-control" id="lPass"  placeholder="{{ 'placeholder.password' | translate }}">
        </div>
        <button type="submit" class="btn btn-success btn-sm">
            {{ 'header.login' | translate }}
        </button>
        <div class="buttons">
            <button class="btn btn-info btn-sm">
                {{ 'button.nextStep' | translate }}
                <i class="fa fa-arrow-down"></i>
            </button>
        </div>
    </form>
</div>
</form>
