<div class="article-block">
<h1>Hur funkar det?</h1>
<p class="text-size-125">Gepant är en mötesplats mellan de som har pant och de som vill panta. Konceptet går ut på att de som har burkar och flaskor, men som inte har möjlighet att panta kan enkelt &nbsp;kontakta de orgainsationer/individer som registrerat sig för att hämta upp pant. Genom Gepant kan organisationer/individer tjäna mer pengar, de som donerar blir av med sina burkar och flaskor samtidigt som Gepant bidrar till ett mer miljövänligt Sverige.</p>
</div>