<h1>{{ 'help.navigation.whoWe' | translate }}</h1>
<p class="text-size-125"><span><span>
{{ 'help.html.whoWe1' | translate }}
</span></span></p>
<p class="mbot2 mtop2"><img width="640" height="390" src="images/gepant_crew_temp.jpg" alt="EXEMPELBILD, OKEJ?!?? xD"></p>
<div class="row">
<div class="col-xs-6 col-sm-3">
<p class="mbot2">Robin Eriksson<br><a href="mailto:robin@gepant.se">robin@gepant.se</a><br><a href="tel:+46700112233">0700-11 22 33</a></p>
</div>
<div class="col-xs-6 col-sm-3">
<p class="mbot2"><span>Sasa Farkas</span><br><a href="mailto:sasa@gepant.se">sasa@gepant.se</a><br><a href="tel:+46700112233">0700-11 22 33</a></p>
</div>
<div class="col-xs-6 col-sm-3">
<p class="mbot2">Lewis Horne<br><a href="mailto:rlewis@gepant.se">lewis@gepant.se<br></a><a href="tel:+46700112233">0700-11 22 33</a><a href="mailto:robin@gepant.se"></a></p>
</div>
<div class="col-xs-6 col-sm-3">
<p class="mbot2">Dennis Nyström<br><a href="mailto:dennis@gepant.se">dennis@gepant.se<br></a><a href="tel:+46700112233">0700-11 22 33</a><br><br></p>
</div>
</div>
<p>&nbsp;</p>