			<h1>Vill du samla pant?</h1>
<p class="text-size-125">Om du vill samla pant till dig själv eller till en organisation som du representerar kan du <a href="#/pop/createAccount/"><strong>registrera dig här</strong></a>. Det är helt kostnadsfritt och du kommer igång direkt.</p>
<p dir="ltr">Om du/ni är en orgnisation eller individ som vill samla burkar via vår hemsida registrera er och lägg en kort beskrivning till vilken ändamål ni/du samlar panten och varför ska de som donerar välja just dig.</p>
<p dir="ltr">Ju bättre projektbeskrivning man gör och desto större chans är att de som donerar kommer att välja er.</p>
<p dir="ltr">Markera också vänligt om ni tar emot utländska burkar.<span>&nbsp;</span></p>
<hr>
<h3>Kan man få pengar även för utländska burkar - &nbsp;ja det kan man!</h3>
<p dir="ltr">Genom samarbete med Returpack kan vi hjälpa er få ersättning både för utländka och tillplattade burkar</p>
<p dir="ltr">Anmäll er på&nbsp;<a href="http://www.pantamera.nu/tjanamera/registrera/">http://www.pantamera.nu/tjanamera/registrera/</a></p>
<p dir="ltr">Hela erbjudandet är kostnadsfritt och Returpack sponsrar även med ett återvinningskärl i wellpapp.</p>
<h5 dir="ltr" class="mtop2">Ersättning</h5>
<p dir="ltr">Ni får en schablonersättning per säck: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p dir="ltr">Full säck med PET-flaskor: <strong>200:-</strong> &nbsp;</p>
<p dir="ltr">Full säck med burkar: <strong>200:-</strong> &nbsp;&nbsp;</p>
<h5 dir="ltr" class="mtop2">Hur fungerar det?</h5>
<ol>
<li><span>Anmäl er som kund genom att ringa eller mejla Returpacks kundtjänst;&nbsp;</span><span><a href="tel:+4611191980">011-19 19 80</a> resp. <a href="mailto:kundtjanst@returpack.se">kundtjanst@returpack.se</a>.&nbsp;</span><span>Vi skickar er kostnadsfritt säckar och etiketter (för identifiering av era säckar).</span></li>
<li><span>Ni samlar pant och lägger PET-flaskor i en säck och burkar i en annan. Även tillplattade burkar och burkar utan pant är tillåtna och ersätts.</span></li>
<li><span>Säcken/säckarna lämnas sedan in på valfritt inlämningsställe.</span></li>
<li><span>Returpack betalar er för säckarna, till det bankgiro- eller plusgironr som ni angivit.</span></li>
</ol>