<h1>{{ 'help.navigation.collectPledge' | translate }}</h1>

<p class="text-size-125">{{ 'help.html.collectPledge1' | translate }}&nbsp;<a href="#/pop/createAccount/"><strong>{{ 'help.html.collectPledge2' | translate }}</strong></a>. {{ 'help.html.collectPledge3' | translate }}</p>

<p dir="ltr">{{ 'help.html.collectPledge4' | translate }}</p>

<p dir="ltr">{{ 'help.html.collectPledge5' | translate }}</p>

<p dir="ltr">{{ 'help.html.collectPledge6' | translate }}<span>&nbsp;</span></p>

<hr>

<h3>{{ 'help.html.collectPledge7' | translate }}</h3>

<p dir="ltr">{{ 'help.html.collectPledge8' | translate }}</p>

<p dir="ltr">{{ 'help.html.collectPledge9' | translate }}&nbsp;<a href="http://www.pantamera.nu/tjanamera/registrera/">http://www.pantamera.nu/tjanamera/registrera/</a></p>

<p dir="ltr">{{ 'help.html.collectPledge10' | translate }}</p>

<h5 dir="ltr" class="mtop2">{{ 'help.html.collectPledge11' | translate }}</h5>

<p dir="ltr">{{ 'help.html.collectPledge12' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p dir="ltr">{{ 'help.html.collectPledge13' | translate }} <strong>200:-</strong> &nbsp;</p>

<p dir="ltr">{{ 'help.html.collectPledge14' | translate }} <strong>200:-</strong> &nbsp;&nbsp;</p>

<h5 dir="ltr" class="mtop2">{{ 'help.html.collectPledge15' | translate }}</h5>
<ol>
    <li>
	    <span>
	    {{ 'help.html.collectPledge16' | translate }}&nbsp;
	    </span>
	    <span>
		    <a href="tel:+4611191980">011-19 19 80</a> resp. <a href="mailto:kundtjanst@returpack.se">kundtjanst@returpack.se</a>.&nbsp;
		</span>
	    <span>
	    	{{ 'help.html.collectPledge17' | translate }}
	    </span>
    </li>
    <li>
    	<span>
    		{{ 'help.html.collectPledge18' | translate }}
    	</span>
    </li>
    <li>
    	<span>
    		{{ 'help.html.collectPledge19' | translate }}
    	</span>
    </li>
    <li>
	    <span>
	    	{{ 'help.html.collectPledge20' | translate }}
	    </span>
    </li>
</ol>
