<h1 dir="ltr">{{ 'help.header.wantToDonate' | translate }}</h1>
<h2 dir="ltr">{{ 'help.header.alternative' | translate }} #1</h2>
<p dir="ltr">
{{ 'help.html.wantToDonate1' | translate }}</p>
<h2 dir="ltr">{{ 'help.header.alternative' | translate }} #2</h2>
<p dir="ltr">{{ 'help.html.wantToDonate2' | translate }}</p>
<ol>
<li><span>{{ 'help.html.wantToDonate3' | translate }}</span></li>
<li><span>{{ 'help.html.wantToDonate4' | translate }}</span></li>
<li><span>{{ 'help.html.wantToDonate5' | translate }}</span></li>
</ol><hr>
<p class="container alert alert-info"><span class="fa fa-lightbulb-o fa-fw fa-3x pull-left"><br></span>{{ 'help.html.wantToDonate6' | translate }}</p>