			<h1 dir="ltr">Vill du skänka pant?</h1>
<h2 dir="ltr">Alternativ #1</h2>
<p dir="ltr">Tryck på gepant knappen, välj vad du vill skänka bort, fyll i dina uppgifter och välj vem du vill donera till.</p>
<h2 dir="ltr">Alternativ #2</h2>
<p dir="ltr">Donera genom 3 enkla steg:</p>
<ol>
<li><span>Uppskatta hur mycket pant du har</span></li>
<li><span>Välj när panten kan bli upphämtad</span></li>
<li><span>Välj vem du vill donera till</span></li>
</ol><hr>
<p class="container alert alert-info"><span class="fa fa-lightbulb-o fa-fw fa-3x pull-left"><br></span> Tänk på att du även kan donera utländska och tillplattade burkar till föreningar som ingår i Returpacks föreningskocept.</p>