
<div class="modal-body">
<form name="form" step-data="stepData['summary']" ng-submit="trySave()" novalidate>
<fieldset>

<div class="topinfo">
<h2>Strax klara!</h2>
<p class=" mtop05 mbot05">
<strong>Tack för att du vill ge din pant!</strong>
Var god titta genom uppgifterna nedan så allt stämmer. Slutför genom att kryssa i rutan under <i class="nobr">Allt ok?</i> och klicka på knappen <i class="nobr">Ge bort min pant <span class="fa fa-thumbs-o-up"></span></i>.</p>
<hr>
</div>

<div class="summary">

<h4>Min pant <a href="javascript:history.back();" href-dynamic="#/*/*/*/what" class="sublink">Ändra</a></h4>
<div bags-summary
bags-small="donation.bagsSmall"
bags-medium="donation.bagsMedium"
bags-large="donation.bagsLarge"
img-src-small="images/bag-small.svg"
img-src-medium="images/bag-medium.svg"
img-src-large="images/bag-large.svg"
label-small-single="plastkasse" label-small-plural="plastkassar"
label-medium-single="pappkasse" label-medium-plural="pappkassar"
label-large-single="sopsäck" label-large-plural="sopsäckar"
></div>


<hr>


<div class="row">
<div class="col-sm-6">
  <h4>Kontaktuppgifter <a href="javascript:history.back();" href-dynamic="#/*/*/*/who" class="sublink">Ändra</a></h4>
  <p>Namn: {{donation.contactName}}</p>
  <p>E-post: {{donation.contactEmail}}</p>
  <p>Telefon: {{donation.contactTelephone}}</p>
  <p>Adress: {{donation.address}}, {{donation.city}}</p>
</div>
<div class="col-sm-6">
  <div class="map" round><div id="map-adw2" class="map-preview round-fill"></div></div>
</div>
</div>

<hr>

<h4>Övrig information</h4>
  <div class="form-group">
    <textarea ng-modal="donation.info" name="info" placeholder="Ex. tider som passar för avhämtning, om du vill bli uppringd innan etc." class="form-control" rows="4"></textarea>
  </div>
  <!--div class="checkbox">
    <label><input type="checkbox" ng-model="donation.newsletter" /> Ja, tack till information från Gepant</label>
  </div-->

<hr>
<h4>Allt ok?</h4>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="accept" ng-model="donation.acceptTerms" required /> 
      Ja, jag bekräftar att uppgifterna ovan stämmer och att <span class="nobr">jag godkänner <a href="https://www.google.se/search?q=vem+skriver+användarvillkor%3F" target="_blank">användarvillkoren</a></span>
      <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="(form.accept.$dirty || currStep.validated) && form.accept.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="Var god bekräfta"></i>
      <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.accept.$valid"></i>    
    </label>
  </div>

<hr>
</div><!--/.summary-->

<p class="alert alert-danger pop" ng-show="currStep.validated && !currStep.validate()">Var god korrigera <span class="nobr"><i class="fa fa-lg fa-fw fa-exclamation-circle"></i>-markerade fält</span></p>


  <div class="buttons">
    <button class="btn mbot1 fullwidth" ng-class="{'btn-primary':form.$valid,'btn-info':form.$invalid}">Ge bort min pant &nbsp; <i class="fa fa-thumbs-o-up fa-lg"></i></button>
    <a href="javascript:history.back();" class="btn btn-default btn-sm fullwidth"><i class="fa fa-arrow-left"></i> Gå tillbaka och ändra</a>
  </div>
</fieldset>
</form>
</div>
