<!-- list for the big devices -->
<div class="collectors_header mbot2">
    <h3><b>{{ 'html.collectors' | translate }}</b></h3>
</div>
<div ng-show='status=="error"' class="alert alert-danger collectors">{{ 'message.errorData' | translate }}</div>
<div ng-show='status=="loading"' class='loading_p collectors'>
    <span class="loading">
        <i class="fa fa-refresh loadicon"></i>
    </span>
    {{ 'message.loading' | translate }}
</div>
<div class='searchResult container' ng-show='status==""'>
<!-- col-sm-4 col-xs-12 -->
    <div class="col_collector" ng-repeat="collector in collectors">
    <div class='colloctorItem'>
        <div class='img' style="background-image:url({{collector.image}})" ng-click="gotoCollector(collector.collector_id)"></div>
        <div class='container'>
            <div class='name' ng-click="gotoCollector(collector.collector_id)">
                <b>{{collector.collector_name}}</b>
            </div>
            <div class='star left'>
                <rating ng-model="collector.rating" max="5"  readonly="true"></rating>
            </div>
            <div class='objective mtop1 left'  ng-show="collector.objective">{{collector.objective}}</div>
            <div class="container progresscontainer">
                <div class='location' ng-show="collector.location">
                    <i class="fa fa-lg fa-fw fa-map-marker"></i> {{collector.location}}
                </div>
                <div ng-show="collector.collector_pledge">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{collector.percentage}}%">
                      </div>
                    </div>
                    <div class="progressData">
                        <span class="funded">
                            <b>{{collector.percentage}}%</b><br>
                            <span>{{ 'html.funded' | translate }}</span>
                        </span>
                        <span class="pledged">
                            <b>{{collector.collector_pledge || 0 }}</b><br>
                            <span>{{ 'html.pledged' | translate }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div> 
<div ng-show='loadMoreStatus=="loading"' class='loading_p collectors'>
    <span class="loading">
        <i class="fa fa-refresh loadicon"></i>
    </span>
    {{ 'message.loading' | translate }}
</div>
<div ng-show='loadMoreStatus=="error"' class="alert alert-danger collectors">{{ 'message.errorData' | translate }}</div>
<div class="container loadMore">
    <button class='btn btn-small grayButton' ng-click="loadMore()" ng-hide="disableLoadMore">{{ 'button.loadMore' | translate }}</button>   
</div> 