<div ng-controller="CarouselDemoCtrl">
    <div id='carousel'>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active" class="{{slide.class}}">
                <img ng-src="images/slider-image.png" style="margin:auto;">
                <div class="item-content ng-scope" autoscale="1200">
                    <div class="carousel-caption">
                        <div class="carousel-caption-inner">
                            <h1>{{ 'html.homecarosalHeader' | translate }}</h1>
                            <p class="mtop1 mbot1">
                                {{ 'html.homecarosalContent' | translate }}
                            </p>
                            <p>
                                <a ui-sref="addDonation" class="btn btn-primary">
                                    {{ 'button.addDonation' | translate }}
                                </a>
                                <a ui-sref="signup" class="btn">
                                    {{ 'button.collectPledge' | translate }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
    <div class='searchResult container' ng-controller='SearchmapCtrl'>
        <div class="box container">
            <h2>{{ 'header.where' | translate }}</h2>
            <p class="control">
                <span class="loading">
                    <i class="fa fa-refresh loadicon" ng-show="loadingLocations"></i>
                </span>
                <input type="text" 
                    class="form-control input-lg searchBar" 
                    ng-model="myPlace" 
                    placeholder="{{ 'placeholder.enterAddress' | translate }}"
                    autofocus typeahead="address as address.formatted_address for address in getLocation($viewValue) | filter:$viewValue" 
                    typeahead-min-length="2" 
                    typeahead-wait-ms="300" 
                    typeahead-loading="loadingLocations" 
                    typeahead-on-select="setLocation()">
            </p>
        </div>
        <div id="start-map" collapse="mapCollapse"></div>
    </div>
</div>
