<header class="modal-header">
	<h1>{{ 'header.login' | translate }}</h1>
	<a href="#" class="close" ng-click='$close()'></a>
</header>
<div class="modal-body fat-v">
	<div ng-switch="status">
		<div ng-switch-when="trying" class="alert alert-info">
			{{ 'message.trylogin' | translate }}
			<i class="fa fa-refresh loadicon"></i>
		</div>
		<div ng-switch-when="success" class="alert alert-success">
			{{ 'message.loginSuccess' | translate }}
		</div>
		<div ng-switch-when="error" class="alert alert-danger">
			{{ 'message.loginFailure' | translate }}
		</div>
	</div>
	<div class="or-fbLogin">
		<button class="btn btn-fb fullwidth" ng-click="tryFbLogin()">
			<i class="fa fa-lg fa-fw fa-facebook"></i> 
			{{ 'button.fbLogin' | translate }}
		</button>
	</div>
	<hr />
	<form name="form" id="loginForm" ng-submit="tryLogin()" novalidate autocomplete="off">
		<h3 class="splitter">
			{{ 'html.loginEmail' | translate }}
		</h3>
		<div class="form-group">
			<input type="text" ng-model="u.email" name="email" class="form-control" id="lEmail" placeholder="{{ 'placeholder.email' | translate }}">
		</div>
		<div class="form-group">
			<input type="password" ng-model="u.password" name="password" class="form-control" id="lPass" placeholder="{{ 'placeholder.password' | translate }}">
		</div>
		<button type="submit" class="btn btn-success">
			{{ 'header.login' | translate }}
		</button>
		<a class="btn" href="#" ng-click='gotoSignUp()'>
			{{ 'html.signupHere' | translate }} <strong>{{'header.signUp' | translate}}</strong>
		</button>
	</form>
</div>
