<!--Navigation bar for the language -->
<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropdown-toggle smallLink" data-toggle="dropdown">
			<span class="name">{{user.language || 'Swedish'}}</span>
			<b class="caret"></b>
			<span class="loading">
	            <i class="fa fa-refresh loadicon" ng-show='loadStatus=="loading"'></i>
	            <i class="fa fa-lg fa-fw fa-check-circle" ng-show='loadStatus=="success"'></i>
	            <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show='loadStatus=="error"'></i>
	        </span>
		</a>		
		<ul class="dropdown-menu language">
			<li>
				<a href="javascript:void(0)" ng-click='setLanguage("English")'>English</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click='setLanguage("Swedish")'>Swedish</a>
			</li>
		</ul>
	</li>
</ul>
<!-- Navigation section for login -->
<ul ng-show="!user.userLogedIn" class="nav navbar-nav navbar-right">
	<li>
		<a ui-sref="signup" class="smallLink" style="min-width: 93px !important;padding-right: 10px !important">
			<span>
				{{ 'header.signUp' | translate }}
			</span>
		</a>
	</li>
	<li>
		<a ui-sref="modal.login" class="navbar-btn btn btn-default" style="margin-right: 14px;">
			{{ 'header.login' | translate }}
		</a>
	</li>
</ul>
<!-- Navigation section for user profile -->
<ul class="nav navbar-nav navbar-right" ng-show="user.userLogedIn">
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropdown-toggle smallLink" data-toggle="dropdown">
			<span class="avatar"><i class="fa fa-lg fa-user"></i></span>
			<span class="name">{{user.name}}</span>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu user">
			<li>
				<a ui-sref="profile">
					{{ 'navigation.viewProfile' | translate }}
				</a>
			</li>
			<li>
				<a ui-sref="profile.donations" ng-show='user.type=="Doner"'> 
			  		{{ 'navigation.donations' | translate }}
				</a>
			</li>
			<li>
				<a style="overflow: hidden;white-space: pre-line;" ui-sref="profile.donationRequest" ng-show='user.type=="Collector"'>{{ 'navigation.donationRequest' | translate }}</a>
			</li>
			<li>
				<a ui-sref="profile.collections" ng-show='user.type=="Collector"'>
					{{ 'navigation.collections' | translate }}
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ui-sref="profile.edit">
				{{ 'navigation.editProfile' | translate }}
				</a>
			</li>
			<li>
				<a ui-sref="profile.setting">
					{{ 'navigation.setting' | translate }}
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ui-sref="logout">
					{{ 'header.logout' | translate }}
				</a>
			</li>
		</ul>
	</li>
</ul>
