<ul ng-show="!userLogedIn" class="nav navbar-nav navbar-right">
	<li>
	    <a ui-sref="signup"><span>Skapa konto</span></a>
	</li>
	<li>
	  	<a  ui-sref="login" class="navbar-btn btn btn-default">Logga in</a>
	</li>
</ul>



<ul class="nav navbar-nav navbar-right"  ng-show="userLogedIn">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="avatar"><i class="fa fa-lg fa-user"></i></span>
            <span class="name">{{user.Name}}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <!-- <li><a href="{{user.Properties.profilePageUrl}}">Visa profil</a>
            </li> -->
            <li><a ui-sref="profile">Visa profil</a>
            </li>
            <li><a href="#">Min pant</a>
            </li>
            <li><a href="#">Mina mål</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Redigera profil</a>
            </li>
            <li><a href="#">Inställningar</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="logout">Logga ut</a>
            </li>
        </ul>
    </li>
</ul>