<h2>{{ 'header.myCollections' | translate }}</h2>
<div class='profile_list'>
	<div ng-repeat="donation in donations" class='listitem' ng-show='loadingStatus==""'>
		<div class='image avatar' style="{{donation.doner_image!=null && donation.doner_image!=''?'background-image:url('+donation.doner_image+')':''}}"></div>
		<div class='container'>
			<div class='things'>
				<div class='thing' ng-show='donation.things.PlasticBag!=0'>
					{{donation.things.PlasticBag}} {{ 'html.plasticBag' | translate }}
				</div>
				<div ng-show='donation.things.PlasticBag!=0 && ( donation.things.PaperBag!=0 || donation.things.RefuseSack!=0)' class='sideline'></div>
				<div class='thing' ng-show='donation.things.PaperBag!=0'>
					{{donation.things.PaperBag}} {{ 'html.paperBag' | translate }}
				</div>
				<div ng-show='(donation.things.PaperBag!=0 || donation.things.PlasticBag!=0 ) && donation.things.RefuseSack!=0 && donation.things.PaperBag!=0' class='sideline'></div>
				<div class='thing'  ng-show='donation.things.RefuseSack!=0'>
					{{donation.things.RefuseSack}} {{ 'html.refuseSack' | translate }}
				</div>
				<br>
			</div>
			<div class='name'>
				<b>{{ 'html.donationBy' | translate }}</b> {{donation.doner_name}}
				<div class='location'>
				<i class="fa fa-lg fa-fw fa-map-marker"></i>
					{{donation.street_address}}
				</div>
			</div>
			<div class='time'>
				At {{donation.created_at | date:'medium'}}
			</div>
		</div>
	</div>	
</div>
<div ng-show='loadingStatus=="loading"' class='loading_p'>
	<span class="loading">
        <i class="fa fa-refresh loadicon"></i>
    </span>
    {{ 'message.loading' | translate }}
</div>

<div ng-show='loadingStatus=="error"' class="alert alert-danger">{{ 'message.errorData' | translate }}</div>

<div ng-show='loadingStatus=="zero"' class="alert alert-warning">
	{{ 'message.noDonation' | translate }}
</div>


<pager total-items="totalItems" ng-model="currentPage" items-per-page="perPage" ng-change="pageChanged()" next-text="{{ 'html.next' | translate }}" previous-text="{{ 'html.previous' | translate }}" ng-show='(loadingStatus=="" || loadingStatus=="loading") && !firstLoadError'></pager>
