<form name="form" id="loginForm" ng-submit="editProfile()" novalidate autocomplete="off">
    <h2>Edit Profile</h2>
    <main id="page" class="container ProfilePage">
        <div class='row'>
            <div class='image avatar'></div>
            <div class="input_container">
                <div class="form-group">
                    <input type="text" ng-model="u.name" name="name" class="form-control" id="pName" placeholder="Name" required/>
                    <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="form.name.$dirty && form.name.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="Name is required"></i>
                    <!-- <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.name.$valid"></i> -->
                </div>
            </div>
            <hr>
        </div>
        <div class='row'>
            <div>
                <h4>Location</h4>
            </div>
            <div class="form-group">
                <input type="text" ng-model="u.street_address" name="email" class="form-control" id="pEmail" placeholder="location" />
            </div>
        </div>
        <div class='row'>
            <!-- map view here  -->
            <hr>
        </div>
        <div class='row' ng-show='u.type=="Collector"'>
            <div>
                <h4>Pledge</h4>
            </div>
            <div>
                <div class="form-group">
                    <input type="number" ng-model="u.pledge" name="pledge" class="form-control" placeholder="Pledge"/>
                    <i class="fa fa-lg fa-fw fa-exclamation-circle" ng-show="form.pledge.$dirty && form.pledge.$invalid" popover-trigger="mouseenter" popover-placement="left" popover="Please enter valid pledge value"></i>
                    <!-- <i class="fa fa-lg fa-fw fa-check-circle" ng-show="form.Pledge.$valid"></i> -->
                </div>
            </div>
            <hr>
        </div>
        <div class='row' ng-show='u.type=="Collector"'>
            <div>
                <h4>Objective</h4>
            </div>
            <div>
                <div class="form-group">
                    <textarea rows="3" type="text" ng-model="u.objective" name="Objective" class="form-control" id="pObjective" placeholder="Objective" />
                </div>
            </div>
            <hr>
        </div>
        <div class='row' ng-show='u.type=="Collector"'>
            <div>
                <h4>Organization</h4>
            </div>
            <div>
                <div class="form-group">
                    <input type="text" ng-model="u.organization_name" name="Pledge" class="form-control" id="pPledge" placeholder="Organization" />
                </div>
            </div>
        </div>
        <div class="row">
            <button ng-click='editProfile()' class="btn btn-success" ng-disabled="form.$invalid">
                Update Profile
            </button>
            <div ng-switch="profileStatus" class='mtop1'>
                <div ng-switch-when="trying" class="alert alert-info">
                    Changing Profile ...
                    <i class="fa fa-refresh loadicon"></i>
                </div>
                <div ng-switch-when="success" class="alert alert-success">
                    Profile changed successfully
                </div>
                <div ng-switch-when="error" class="alert alert-danger">
                    Error in edit profile
                </div>
            </div>
        </div>
</form>
