<h2>Edit Profile</h2>
<main id="page" class="container ProfilePage">
<div class = 'row'>
	<div class=''>
		image
	</div>
	<div class=''>
		name
	</div>
</div>

<div class = 'row'>
	<div class=''>
		map View
	</div>
</div>

<div class = 'row'>
	<div class=''>
		<input type="text" gm-places-autocomplete="autocompleteOptions" ng-model="autocompleteModel" />
	</div>
</div>

<div class = 'row'>
	<div>
		<h4>Pledge</h4>
	</div>
	<div>
		<input type="text"  placeholder="Pledge">
	</div>
</div>

<div class = 'row'>
	<div>
		<h4>Objective</h4>
	</div>
	<div>
		<textarea rows='4' placeHolder="Objective">
	</div>
</div>