<form name="form" id="loginForm" ng-submit="editProfile()" novalidate autocomplete="off">	
	<h2>Edit Profile</h2>
	<main id="page" class="container ProfilePage">
	<div class = 'row'>
		<div class='image avatar'></div>
		<div class='input_container'>
			<input type="text" ng-model="user.name" name="email" class="form-control" id="pName" placeholder="Name">
		</div>
        <hr>
	</div>

	<div class = 'row'>
		<div>
			<h4>Location</h4>
		</div>
		<div class="form-group">
            <input type="text" ng-model="user.street_address" name="email" class="form-control" id="pEmail" placeholder="location">
        </div>
	</div>

	<div class = 'row'>
		<!-- map view here  -->
		<hr>
	</div>

	<div class = 'row' ng-show='user.type=="Collector"'>
		<div>
			<h4>Pledge</h4>
		</div>
		<div>
			<div class="form-group">
	            <input type="text" ng-model="user.pledge" name="Pledge" class="form-control" id="pPledge" placeholder="Pledge">
	        </div>
		</div>
		<hr>
	</div>

	<div class = 'row' ng-show='user.type=="Collector"'>
		<div>
			<h4>Objective</h4>
		</div>
		<div>
			<div class="form-group">
	            <textarea   rows="3"
	             		 	type="text" 
	             		 	ng-model="user.objective" 
	             		 	name="Objective" 
	             		 	class="form-control" 
	             		 	id="pObjective" 
	             		 	placeholder="Objective"/>
	        </div>
		</div>
		<hr>
	</div>

	<div class = 'row' ng-show='user.type=="Collector"'>
		<div>
			<h4>Organization</h4>
		</div>
		<div>
			<div class="form-group">
	            <input type="text" ng-model="user.organization_name" name="Pledge" class="form-control" id="pPledge" placeholder="Organization">
	        </div>
		</div>
	</div>

	<div class="row">
		<button ng-click='editProfile()'
				class="btn btn-success">
			Update Profile
		</button>
		<div ng-switch="profileStatus" class='mtop1'>
			<div ng-switch-when="trying" class="alert alert-info">
				Changing Profile ... 
				<i class="fa fa-refresh loadicon"></i>
			</div>
			<div ng-switch-when="success" class="alert alert-success">
				Profile changed successfully
			</div>
			<div ng-switch-when="error" class="alert alert-danger">
				Error in edit profile
			</div>
		</div>
	</div>
	
    
</form>