<!-- <div id="header-splitter" class='profile'>
    <div class="container">
        <div ncy-breadcrumb></div>
    </div>
</div> -->
<div id="header-splitter" class='profile'>
    <div class="container">
        <ol class="breadcrumb">
            <li>
               <a href="#/profile" class="ng-binding ng-scope">{{ 'header.profile' | translate }}</a>
            </li>
            <li ng-show='currentLink!=""'>
                <span class="ng-binding ng-scope">{{currentLink | translate }}</span>
            </li>
        </ol>
    </div>
</div>

<main id="page" class="container ProfilePage">
    <article class="col-sm-8" ng-show="$state.current.name === 'profile'">
        <header>
            <div class="cover bg-donator">
                <div class="logo">
                    <div class="inner avatar bg-donator-faded"></div>
                </div>
            </div>
            <h1>{{user.name}}</h1>
            <hr>
            <div ng-show='user.type=="Collector"'>
                <h3>
                    {{ 'header.myPledge' | translate }}
                </h3> 
                ${{user.pledge || 0}}
                <hr>
            </div>
            <div ng-show='user.type=="Collector"'>
                <h3>{{ 'header.myObjective' | translate }}</h3> 
                {{user.objective || '-- No 
                Objective Yet --'}}
            </div>
        </header>
    </article>
    <article class="col-sm-8" ng-show="$state.current.name !== 'profile'">
        <div ui-view></div>
    </article>
    <aside class="col-sm-4">
        <hr class="visible-xs">
        <p class="add-donation-button text-size-125">
            <a ui-sref="addDonation" ng-show='user.type=="Doner"' class="btn btn-lg btn-donator btn-gepant-hover fullwidth bold">{{ 'button.givePledge' | translate }}</a>
            <a ui-sref="profile.collections" ng-show='user.type=="Collector"' class="btn btn-lg btn-donator btn-gepant-hover fullwidth bold">{{ 'navigation.collections' | translate }}</a>
        </p>
        <hr>
        <div class="faststat">
            <ul class="stat-list">
                <li>
                    <p>
                        <span class="stat-label">{{ 'header.numberOfDays' | translate }} </span> 
                        <span class="stat-value">{{user.daysOnGepant || 0}}</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="stat-label" ng-show='user.type=="Doner"'>{{ 'header.donationsThisMonth' | translate }}</span> 
                        <span ng-show='user.type=="Collector"' class="stat-label">{{ 'header.collectionMonth' | translate }}</span> 
                        <span class="stat-value">{{user.donationsThisMonth || 0}}</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span ng-show='user.type=="Doner"' class="stat-label">{{ 'header.donationsTotal' | translate }}</span> 
                        <span ng-show='user.type=="Collector"' class="stat-label">{{ 'header.collectionTotal' | translate }}</span> 
                        
                        <span class="stat-value">{{user.donationsTotal || 0}}</span>
                    </p>
                </li>
            </ul>
        </div>
        <hr>
        <div class="sharing">
            <div class="row">
                <div class="col-md-12">
                    <a href='http://www.facebook.com/share.php?u=gepant.dev.denkan.se' target='_blank' class='btn btn-sm btn-fb fullwidth'>
                        <i class="fa fa-fw fa-lg fa-facebook"></i> 
                        {{ 'button.shareFB' | translate }}
                    </a>
                </div>
                <div class="col-md-12">
                    <a href="http://gepant.dev.denkan.se" class="btn btn-sm btn-tw fullwidth tweet"
                                target="_blank">
                        <i class="fa fa-fw fa-lg fa-twitter"></i>
                        {{ 'button.shareFB' | translate }}
                    </a>
                    <script>
                    $('a.tweet').click(function(e) {
                        e.preventDefault();
                        var loc = $(this).attr('href');
                        window.open('http://twitter.com/share?url=' + loc );
                        // can share text with &text=
                    });
                    </script>
                </div>
            </div>
        </div>
    </aside>
</main>