<main id="page" class="container ProfilePage">
		<article class="col-sm-8">
			<header>
				<div class="cover bg-donator">
					<div class="logo"><div class="inner bg-donator-faded"></div></div>
				</div>
				<h1><font><font>Dinesh</font></font></h1>
			</header>
		</article>

		
		<aside class="col-sm-4">
			<hr class="visible-xs">
			<p class="add-donation-button text-size-125"><a href="#/pop/addDonation/1276-dinesh" class="btn btn-lg btn-donator btn-gepant-hover fullwidth bold"><font><font>Ladle pledge</font></font></a></p>
			
			<hr>
							
			<div class="faststat">
				<ul class="stat-list">
					<li><p><span class="stat-label"><font><font>Number of days on Gepant </font></font></span> <span class="stat-value"><font><font>38</font></font></span></p></li>
					<li><p><span class="stat-label"><font><font>Jewels donations this month </font></font></span> <span class="stat-value"><font><font>0</font></font></span></p></li>
					<li><p><span class="stat-label"><font><font>Jewels donations totaling </font></font></span> <span class="stat-value"><font><font>11</font></font></span></p></li>
				</ul>
			</div>
						
			<hr>

			<div class="sharing">
				
				<div class="row">
					<div class="col-md-6"><a href="#" class="btn btn-sm btn-fb fullwidth"><i class="fa fa-fw fa-lg fa-facebook"></i><font><font> Share on Facebook</font></font></a></div>
					<div class="col-md-6"><a href="#" class="btn btn-sm btn-tw fullwidth"><i class="fa fa-fw fa-lg fa-twitter"></i><font><font> Share on Twitter</font></font></a></div>
				</div>
			</div>
			
		</aside>
	</main>