<div class="container">
	<h2>{{ 'navigation.setting' | translate }}</h2>
	<h5 style='float:left'>{{ 'header.emailNotification' | translate }}&nbsp;&nbsp; &nbsp;&nbsp;</h5>
	<toggle-switch
	            model="user.email_setting"
	            class="switch-success"
	            off-label="{{ 'button.off' | translate }}"
	            on-label="{{ 'button.on' | translate }}">
	          </toggle-switch>
	<div class="mtop1">
		<button ng-click='updateSettings()'
			class="btn btn-success">
			{{ 'button.updateSetting' | translate }}
		</button>
		<div ng-switch="setttingStatus" class='mtop1'>
			<div ng-switch-when="trying" class="alert alert-info">
				{{ 'message.changeSetting' | translate }}
				<i class="fa fa-refresh loadicon"></i>
			</div>
			<div ng-switch-when="success" class="alert alert-success">
				{{ 'message.settingChange' | translate }}
			</div>
			<div ng-switch-when="error" class="alert alert-danger">
				{{ 'message.errorSetting' | translate }}
			</div>
		</div>
	</div>
</div>